section#clients.container
  h1 #{CLIENTS.HEAD[lang]}
  div
    article
      a(href='https://opentalent.bbva.com/en/' target="_blank" rel="nofollow" title='Caso de éxito BBVA')
        img(src='img/client-bbva.jpg' alt='BBVA')
  p #[a( href='#contact' title=CLIENTS.CTA[lang] class='button') #{CLIENTS.CTA[lang]}]
