section#contact.container
  h1 #{CONTACT.HEAD[lang]}
  div
    div.video
      iframe(src='https://player.vimeo.com/video/149002095')
    +form()
      +form__element({type:'text', name:'name', tooltip: CONTACT.INPUT1.TOOLTIP[lang], placeholder: CONTACT.INPUT1.PLACEHOLDER[lang], label: CONTACT.INPUT1.LABEL[lang], required:'required'})
      +form__element({type:'email', name:'email', tooltip: CONTACT.INPUT2.TOOLTIP[lang], placeholder: CONTACT.INPUT2.PLACEHOLDER[lang], label: CONTACT.INPUT2.LABEL[lang], required:'required'})
      +form__element({type:'textarea', name:'msg', placeholder: CONTACT.TEXTAREA.PLACEHOLDER[lang], label: CONTACT.TEXTAREA.LABEL[lang], required:'required'})
      +form__element({type:'checkbox', name:'privacy', label: CONTACT.CHECKBOX.LABEL[lang] })
      //- - var values =['Pedir presupuesto','Quiero una demostración', 'Otros']
      //- +form__element({type:'select', name:'selector', options:values })
      div
        small #{CONTACT.TEXT[lang]} #[a(href='mailto:info@contestia.es' title='Contestia email') info@contestia.es]
      +form__element({type:'submit', value: CONTACT.BUTTON[lang] })